html {
  background: var(--color-surface);
  color: var(--color-text);
}

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                   supported by Chrome, Edge, Opera and Firefox */
}

.noselect-hard * {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Old versions of Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  cursor: default;
  pointer-events: none;
  /* Non-prefixed version, currently
                                   supported by Chrome, Edge, Opera and Firefox */
}

body {
  margin: 0 !important;
  /*Scrollbar moves content fix*/
  /*width: calc(100vw - 34px);*/
  background: #EFEEEF;
}

.table-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
  flex-wrap: wrap;
}

.table-controls {
  display: flex;
  flex-wrap: wrap;
}

.table-title {
  padding: 10px !important;
}

.Root-container {
  margin-top: 25px !important;
}

html, body {
  height: 100%;
}

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

* {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
}

#NotificationContainer * {
  font-family: "Comfortaa", cursive;
}

.notification {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
}

.HeaderBar {
  overflow: hidden;
}
.HeaderBar .Header-Title {
  width: 200px !important;
}
.HeaderBar .Header-NavbarContainer {
  flex-grow: 1;
}
.HeaderBar .Header-NavbarContainer .Header-Navbar {
  display: flex;
  justify-content: flex-start;
}
.HeaderBar .Header-NavbarContainer .Header-Navbar .MuiListItem-button {
  width: auto;
}

.ProtectedLink {
  color: inherit;
  text-decoration: inherit;
  outline: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ContentBlock {
  padding-top: 90px;
}

.PaperRelative {
  position: relative !important;
}

.MuiTableContainer-root {
  position: relative;
}

.MuiBackdrop-root {
  background-color: rgba(0, 0, 0, 0.3) !important;
}

.Backdrop-style {
  position: absolute !important;
  z-index: 9999 !important;
}

.notistack__closeicon {
  width: 100px;
}

div.MuiDataGrid-main > div:nth-child(1) {
  display: none !important;
}

.logout {
  margin-left: auto;
}
