html.light {
    --color-surface: white;
    --color-text: black;
    --color-solid-placeholder: gray;

    --color-spinner-bg: 4px rgba(36, 36, 36, 0.2) solid;
    --color-spinner-element: 3px black solid;

    --color-book-forms: transparent;

    --color-input-bg: white;
    --color-input-border: 0.5px solid #4C4D4B;
    --color-input-border-bottom: 0.5px solid black;
    --color-input-hover: 1px solid black;
    --color-input-focus: 1px solid black;
    --color-input-disabled: #DBDBDB;

    --color-button-bg: #EFEFEF;
    --color-button-bg-hover: #DBDBDB;
    --color-button-bg-disabled: #E4E4E4;
    --color-button-bg-active: #CACACA;
    --color-button-bg-border: 0.5px solid #4C4D4B;

    --color-gbutton-bg: #EFEFEF;
    --color-gbutton-bg-border: 1px solid transparent;
    --color-gbutton-bg-hover: #DBDBDB;
    --color-gbutton-bg-disabled: #E4E4E4;
    --color-gbutton-bg-disabled-text: #9C9D99;
    --color-gbutton-bg-active: #CACACA;
    --color-gbutton-bg-progress: #E9ECEF;
    --color-gbutton-progress: white;
    --color-gbutton-progress-inverted: black;

    --color-audio-player-bg: #F1F3F4;
    --color-audio-player-icons-fill: black;
    --color-audio-player-icons-invert: invert(0);
    --color-audio-player-icons-hover: black;
    --color-audio-player-icons-bg: transparent;
    --color-audio-player-icons-bg-hover: #D1D1D3;
    --color-audio-player-progressmeter-wrap: #C1C2C3;
    --color-audio-player-progressmeter: #0B0B0B;
    --color-audio-player-progressmeter-toucher: #000000;
    --color-audio-player-progressmeter-buffer: #9D9D9D;
    --color-audio-player-progressmeter-bg: #C1C2C3;
    --color-audio-player-volume-bg: #E6E7E9;

    --color-chapter-text-current-bg: rgba(85, 255, 85, 0.3);
}

html.dark {
    --color-surface: #1C1C1C;
    --color-text: #D9DBD6;
    --color-solid-placeholder: #9A9A9A;

    --color-spinner-bg: 4px rgba(139, 139, 139, 0.2) solid;
    --color-spinner-element: 3px #D9DBD6 solid;

    --color-book-forms: #242424;

    --color-input-bg: #393F44;
    --color-input-border: 1px solid transparent;
    --color-input-border-bottom: 1px solid #85888C;
    --color-input-hover: 1px solid #2B98F0;
    --color-input-focus: 1px solid #2B98F0;
    --color-input-disabled: #4D5258;

    --color-button-bg: #434A50;
    --color-button-bg-hover: #50585F;
    --color-button-bg-disabled: #32373B;
    --color-button-bg-active: #5C666E;
    --color-button-bg-border: 1px solid transparent;

    --color-gbutton-bg: #353535;
    --color-gbutton-bg-border: 1px solid transparent;
    --color-gbutton-bg-hover: #414141;
    --color-gbutton-bg-disabled: #272727;
    --color-gbutton-bg-disabled-text: #9C9D99;
    --color-gbutton-bg-active: #4A4A4A;
    --color-gbutton-bg-progress: none;
    --color-gbutton-progress: white;
    --color-gbutton-progress-inverted: white;

    --color-audio-player-bg: #2A2A2A;
    --color-audio-player-icons: white;
    --color-audio-player-icons-fill: white;
    --color-audio-player-icons-invert: invert(1);
    --color-audio-player-icons-hover: black;
    --color-audio-player-icons-bg: black;
    --color-audio-player-icons-bg-hover: #5E5E5F;
    --color-audio-player-progressmeter-wrap: #DBD8E3;
    --color-audio-player-progressmeter: #0074D0;
    --color-audio-player-progressmeter-toucher: #A0A0A0;
    --color-audio-player-progressmeter-buffer: #747474;
    --color-audio-player-progressmeter-bg: #8B8B8B;
    --color-audio-player-volume-bg: #353535;

    --color-chapter-text-current-bg: rgba(61, 184, 61, 0.3);

}